.conteiner{
    border: solid black 10px;
    margin-left: 1200px;
    margin-right: 1200px;
    padding: 0px;
    text-align: center;
}
.ffff{
    margin-right: auto;
    margin-top: auto;
    margin-left: auto;
}